.checkbox {
  min-height: 25px;
  position: relative;
  cursor: pointer;
  input[type="checkbox"] {
    position: absolute;
    top: 50%;
    @include transform(translate(0, -50%));
    left: 1px;
    opacity: 0;
    &:checked + label:before {
      content: "\f17b";
      background: $primary-color;
      @include transform(translate(0, -50%));
      @include box-shadow(0, 1px, 8px, 0, lighten($primary-color, 30%));
      border-color: $primary-color;
    }
  }
  label {
    padding-left: 28px;
    min-height: 22px;
    line-height: 22px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
    &:before {
      content: "";
      font: bold 12px/1 LineAwesome;
      position: absolute;
      display: flex;
      align-items: center;
      color: $white-color;
      justify-content: center;
      width: 18px;
      height: 18px;
      border: 1px solid darken($light-color, 10%);
      @include border-radius(4px);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @include transition(all, 0.3s, ease-in-out);
    }
  }
}
