header.header {
    @include box-shadow(0, 3px, 6px, 0, rgba(0, 0, 0, 0.02));
    border-bottom: 1px solid lighten($primary-color, 40%);
    height: 91px;
    background: $white-color;
}

.br-header {
    position: relative;
    @media screen and (min-width: $break-xl) {
        padding-left: 150px;
    }
    #add-menu {
        font-size: $font-size+10;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }
    .br-header-left {
        width: $width - 50;
    }
}

.searchbar {
    i {
        font-size: $font-size+10;
    }
    .form-control {
        height: 89px;
        background: transparent !important;
        &:hover {
            outline: none;
        }
        &:focus {
            @include box-shadow(0, 0, 0, 0, transparent);
        }
    }
}

.br-header-right {
    nav.nav {
        .dropdown {
            border-left: 1px solid lighten($primary-color, 35%);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 89px;
            .dropdown-toggle,
            .nav-link-profile {
                height: 89px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                min-width: 83px;
            }
            .dropdown-toggle {
                &::after {
                    display: none;
                }
            }
            i {
                font-size: $font-size+16;
                color: $text-color;
            }
            .logged-name {
                color: $dark-blue-color;
                font-size: $font-size+2;
                font-weight: 600;
                small {
                    font-size: $font-size - 2;
                    font-weight: 400;
                    color: $text-color;
                }
            }
            .profile-dropdown {
                font-size: $font-size+6;
                color: $text-color;
                display: flex;
                align-items: center;
            }
            .dropdown-menu-header {
                @include box-shadow(0, 3px, 21px, 0, rgba(0, 0, 0, 0.2));
                left: auto !important;
                right: -1px !important;
                top: 88px !important;
                width: 300px;
                border: none;
                .dropdown-menu-label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .media-list-link {
                    border-bottom: 1px solid #e9ecef;
                    display: flex;
                    &:hover {
                        background: rgba(238, 243, 254, 0.28);
                    }
                }
                .media-body {
                    strong,
                    span {
                        color: $dark-blue-color;
                    }
                    p {
                        font-size: $font-size;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        max-height: 40px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertica
                    }
                }
            }
            .dropdown-menu-user {
                width: 200px;
                right: 5px !important;
                ;
            }
            .user-profile-nav {
                padding: 0 10px;
                li {
                    display: flex;
                    a {
                        width: $width;
                        padding: 7px 8px;
                        color: $text-color;
                        @include border-radius(4px);
                        &:hover {
                            background: $primary-color;
                            color: $white-color;
                            i {
                                color: $white-color;
                            }
                        }
                        i {
                            font-size: $font-size + 6;
                            color: $primary-color;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
}