body{
    &.theme-dark{
        background: darken($primary-color, 47.9%);
        color: $light-color;
        .form-control, .dropdown-menu{
            background: darken($primary-color, 47.9%) !important;
            color: $light-color;
        }
        .searchbar .form-control{
            background: transparent !important;
        }
        .dropdown-item:hover {
            background: darken($primary-color, 30%) !important;
        }
        .form-control.border-light, .bootstrap-select .btn{
            border-color: darken($primary-color, 43%) !important;
            color: $white-color !important;
        }
        .bootstrap-select{
            .dropdown-menu li{
                a{
                    &:hover, &.active{
                        background: $primary-color;
                    }
                }
            }
        }
        h1, h2, h3, h4, h5, h6, a, .form-control{
            color: $white-color !important;
        }
        .header.header, .br-sideleft, .br-logo, .br-header-right nav.nav .dropdown, .br-sideleft ul, .card-header, .border-dashed{
            background: $black-color;
            border-color: darken($primary-color, 43%);
        }
        .card{
            background: $black-color;
        }
        .card h6.text-secondary{
            color: $dark-blue-color !important;
        }
        .process-model li a{
            color: $primary-color !important;
        }
        .process-model li a.active, .process-model li.visited a, .table{
            color: $white-color !important;
        }
        .theme-setting-wrapper
        {
            background: $black-color;
            @include box-shadow(0, 10px, 20px, 0, darken($black-color, 60%));
        }
        hr{
            border-color: darken($primary-color, 43%);
        }
        .logged-name{
            color: $white-color !important;
        }
        .br-header-right i, small{
            color: darken($white-color, 40%) !important;
        }
        .badge{
            color: $black-color;
        }
        .br-sideleft ul li:hover, .br-sideleft ul li.active, .input-group.bg-light{
            background: $primary-color !important;
        }
        .form-group .input-group-text{
            color: $white-color !important;
        }
        .br-sideleft ul li::before{
            background: darken($primary-color, 43%);
        }
        .table-theme-bg{
            background: darken($primary-color, 43%) !important;
        }

    }
}