@import "variable";
@import "mixins";
@import "nesting";
@import "typography";
@import "header";
@import "sidebar";
@import "mainpanel";
@import "card";
@import "dashboard";
@import "formelement";
@import "border";
@import "button";
@import "table";
@import "tabs";
@import "progress-bar";
@import "tooltip";
@import "rangeslider";
@import "ripple";
@import "dropdown";
@import "setting";
@import "color";
@import "badge";
@import "radio";
@import "checkbox";
@import "theme-dark";
@import "login";
@import "switch";
html,
body {
    height: 100%;
}

body {
    font-family: "Graphik", sans-serif;
    font-size: 100%;
    line-height: 1.3;
    background-color: $light-color;
    color: $theme-text-color;
}

hr {
    margin: 14px 0;
    border-color: lighten($primary-color, 40%);
}